@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

.primary {
  color: #fd8791;
}

/* Navbar */
nav {
  z-index: 1;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #191919;
}

nav .logo img:hover {
  border: 2px solid #fd8791;
  padding: 0px 6px;
  transition: linear 1s;
}

nav img {
  width: 40px;
  padding: 0px 6px;
  border: 2px solid #191919;
}

nav ul {
  display: flex;
}

li {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin: 0px 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: large;
}

.active {
  color: #fff;
}

.ig {
  display: flex;
  flex-direction: row;
}

.ig svg:hover {
  fill: #fff;
  transition: ease-in 0.3s;
}

.ig::before {
  margin: 0px 15px 0px 5px;
  display: block;
  border-left: 4px solid #fd8791;
  height: 26px;
  border-radius: 10px;
  content: "";
}

/* Home */
.home {
  display: flex;
  justify-content: center;
  padding: 100px 100px 10px;
  background-color: #191919;
}

.judul {
  line-height: 35px;
}

.teks {
  color: #fff;
}

.c-sosmed {
  margin: 10px 0px;
}

.sosmed {
  display: flex;
  gap: 10px;
}

.sosmed a {
  color: #fff;
  font-weight: 500;
}

.sosmed a:hover {
  color: #fd8791;
  transition: ease-in 0.3s;
}

.button a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fd8791;
  font-weight: 600;
  padding: 2px 10px;
  border: 3px solid #fd8791;
}

.button a:hover {
  background-color: #ff997a;
  color: #fff;
  border: 3px solid #ff997a;
  transition: ease-in 0.3s;
}

.main-1 {
  padding: 50px 30px;
  width: 33.333333%;
}

.main-2 {
  margin-right: 100px;
  width: 33.333333%;
}

/* Contact */
.contact {
  padding: 50px 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #191919;
  color: #fff;
  flex-direction: column;
}

.contact .f-teks h3 {
  margin-bottom: 10px;
}

.contact .f-teks p {
  margin: 0px;
  padding: 0px;
}

.contact .icon {
  padding: 20px;
}

.contact .c-icon {
  display: flex;
  flex-direction: column;
}

.contact .list-icon {
  padding: 20px;
}

.contact .list-icon a {
  color: #fff;
  align-items: center;
  display: inline-flex;
  gap: 5px;
  background-color: #212121;
  padding: 2px 10px;
  border-radius: 4px;
  margin: 0px 50px;
  font-weight: 700;
  border: 2px solid #191919;
}

.contact .list-icon a:hover {
  border: 2px solid #fd8791;
  transition: ease-in 0.3s;
}

.contact .list-icon svg {
  fill: #fd8791;
}

.contact .list-2 a {
  margin: 0px 120px;
}

/* Footer */
footer {
  color: #fff;
  background-color: #212121;
  display: flex;
  justify-content: center;
  font-size: small;
  font-weight: 600;
  padding: 20px 0px;
}

@media only screen and (min-width: 712px) and (max-width: 992px) {
  .main-2 {
    display: flex;
    margin-right: 0px;
    width: 100%;
    justify-content: center;
  }
}
